<app-nav></app-nav>
<div class="second">
  <div class="container-fluid">
      <div class="second-header">
        <img src="./assets/img/logo1wdedit.png" alt="header">
      </div>
      <div class="second-content">
        <ul>
         <a >
          <li>الصفحة الرئيسية
            <i class="fa fa-hospital-o"></i>
          </li>
         </a>
        </ul>
      </div>
  </div>
</div>
<div class="container w-100 text-center ">
    <h3 class="h3"> الصفحة الرئيسية</h3>
    <div class="row text-center" style="width: 80%">
  
  
      <div class="col-lg-4 col-md-8  col-sm-8  mt-3">
        <a class="link" routerLink="/dashboard/doctor-option">
          <div class="content">
            <div class="card">
              <div class="card-img-top">
                <i class="fa fa-solid fa-stethoscope "></i>
              </div>
              <div class="card-body">
                <p class="card-title">الأطباء</p>
                
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-8  col-sm-8  mt-3">
        <div class="content">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-img-top">
              <i class="fa fa-regular fa-heart"></i>
            </div>
            <div class="card-body">
              <p class="card-title">المرضى</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8  col-sm-8  mt-3">
        <div class="content">
          <div class="card">
            <div class="card-img-top">
              <i class="fa fa-hospital-o"></i>
            </div>
            <div class="card-body">
              <p class="card-title fit"> الخدمات الطبية</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  