
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12  parent">
        <div class="col-lg-12 col-md-12 col-sm-12 firstchild">
  
        </div>
  
  
        <div class="row">
  
          <div class="col-lg-6 col-md-6 col-sm-6 ">
  
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 ">
            <div class="secondchild">
  
              
                <div class="content">
                    <h3> تعيين كلمة سر جديدة </h3>
        
                    <form class="">
                      
                      <div class="form-group">
                        <input   [(ngModel)]="user.password" ngModel  #password = "ngModel"  name="password"   type="text" class="form-control" aria-describedby="emailHelp" placeholder="   كلمة السر الجديدة   " required>
        
                        <div *ngIf="password.touched && password.invalid && password.errors?.['required']" class="error alert alert-danger">
                            برجاء إدخال كلمة السر الجديدة
                        </div>
        
                        <input  [(ngModel)]="user.confirmPassword" ngModel  #confirmPassword = "ngModel"  name="confirmPassword"  type="text" class="form-control" aria-describedby="emailHelp" placeholder="   تأكيد كلمة السر الجديدة   " required>
        
                        <div *ngIf="confirmPassword.errors?.['required'] && !password.errors" class="error alert alert-danger">
                            برجاء إدخال تأكيد كلمة السر الجديدة 
                        </div>
                        <div *ngIf="!password.errors&& !confirmPassword.errors && password.value !== confirmPassword.value" class="error alert alert-danger">
                            كلمة السر وتأكيد كلمة السر غير متطابقان
                        </div>
        
                      </div>
                      <button type="submit" (click)="updatePassword()" [disabled]="password.invalid || confirmPassword.invalid || password.value !== confirmPassword.value" class="btn btn-success w-100" style="background-color: #0080FB !important;"> تأكيد </button>
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  