
<div *ngIf="loading" class="d-flex justify-content-center" style="height:100vh">
  <div class="spinner-border" role="status" style="position: absolute;top:50%;color:#0080FF" >
    <span class="sr-only" id="loading"></span>
  </div>
</div>
<div *ngIf="!loading">
  <app-nav></app-nav>
  <div class="second">
    <div class="container-fluid">
      <div class="second-header">
        <img src="./assets/img/logo1wdedit.png" alt="header" />
      </div>
      <div class="second-content">
        <ul>
          <a routerLink="/dashboard/home">
            <li>
              الصفحة الرئيسية
              <i class="fa fa-hospital-o"></i>
            </li>
          </a>
          <a routerLink="/dashboard/doctor-option">
            <li class="secondLi">
              الأطباء
              <i class="fa fa-solid fa-stethoscope"></i>
            </li>
          </a>
          <a>
            <li class="secondLi subcontent">الأطباءالموثوقين</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
   

    <div class="row mt-3">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped" style="height: 85vh; overflow:auto;display: block;">
          <thead>
            <tr style="text-align:center">
              <th>التقيمات</th>
              <th>الجنس</th>
              <th>العمر</th>
              <th>المستوى العلمى</th>
              <th>المحافظة</th>
              <th>التخصص</th>
              <th>البريد الإلكتروني</th>
              <th style="white-space: nowrap;">إسم الدكتور</th>
            </tr>
          </thead>
          <tbody >
            <tr routerLink="/dashboard/doctor/{{doctor._id}}" style="text-align:center" *ngFor="let doctor of acceptedDoctor">
              <td style="white-space: nowrap;" >
                <span [ngClass]="{'checked': doctor.raiting==5}" class="fa fa-star"></span>
                <span [ngClass]="{'checked': doctor.raiting>=4}" class="fa fa-star"></span>
                <span [ngClass]="{'checked': doctor.raiting>=3}" class="fa fa-star"></span>
                <span [ngClass]="{'checked': doctor.raiting>=2}" class="fa fa-star"></span>
                <span [ngClass]="{'checked': doctor.raiting>=1}" class="fa fa-star"></span>
               
              </td>
              <td>{{ doctor.gender=="female"? "أنثي" : "ذكر" }}</td>
              <td>{{ doctor.birthDate }}</td>
              <td>{{ doctor.title }}</td>
              <td>{{ doctor.city }}</td>
              <td>{{ doctor.specialty }}</td>
              <td >{{ doctor.email }}</td>
              <td style="white-space: nowrap;">{{ doctor.userName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
