<div class="container-fluid">
    <div class="row-fluid">
      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" routerLink="">
          <img src="./assets/img/logo 1 wd.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
  
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navList">
            <ul class="navUL">
              <span *ngIf="!isUserLoggedIn">
                <li class="navLi">
                  <a routerLink="/user/login" class="navA"> دخول <i class="fa fa-regular fa-sign-in"></i></a>
                </li>
                <li class="navLi">
                  <a routerLink="/user/register" class="navA"> إنشاء حساب جديد <i
                      class="fa fa-solid fa-user-plus"></i></a>
                </li>
                <li class="navLi noborder">
                  <a routerLink="" class="navA"> مترال للاطباء <i class="fa fa-plus"></i></a>
                </li>
              </span>
  
  
              <span  *ngIf="isUserLoggedIn">
                <li class="navLi login" (click)="toggledropdown=!toggledropdown;">
                  <div style="display: flex; flex-direction:row-reverse ; align-items: center;">
                    <div class="user-icon-container"><i class="fa fa-user"></i></div>
                    
                    <p class="navA"> الملف الشخصى </p>
                  </div>
                  <div class="arrow-icon-container"><i class="fa fa-angle-down"></i></div>
                </li>
                <ul *ngIf="toggledropdown" class="dropdown">
                  <li> 
                    <a routerLink="/user/profile"><i class="fa fa-user"></i>   البيانات الشخصية</a>
                  </li>
                  <li> 
                    <a routerLink="/user/my-reservation"><i class="fa fa-bookmark"></i> دفتر الحجوزات</a>
                  </li>
                  <li> 
                    <a routerLink="/user/my-questions"> <i class="fa fa-question"></i> اسألتي</a>
                  </li>
                  <li> 
                    <a (click)="logout()" > <i class="fa fa-sign-out"></i> الخروج</a>
                  </li>
                </ul>
              </span>
  
  
            </ul>
          </div>
        </div>
  
      </nav>
  
  
    </div>
  </div>
  