<div class="container-fluid footer">
    <div class="row">
      <div class="col-lg-4 col-md-11 col-sm-11 div1">
        <div class="img">
          <img class="img-fluid" src="./assets/img/logo 1 wd.png" alt="">
        </div>
        <h1> تحتاج للمساعدة؟ </h1>
        <p>اتصل بنا</p>
        <p>شروط الاستخدام</p>
        <p>اتفاقية الخصوصية</p>
        <p>اتفاقية الخصوصية للأطباء</p>
      </div>
  
  
      <div class="col-lg-3 col-md-11 col-sm-11  div2">
        <div class="icones">
          <div>
            <span>
              <i class="fa fa-brands fa-facebook-f"></i>
            </span>
          </div>
  
          <div>
            <span>
              <i class="fa fa-brands fa-twitter"></i>
            </span>
          </div>
          <div>
            <span>
              <i class="fa fa-brands fa-instagram"></i>
            </span>
          </div>
        </div>
      </div>
  
      <div class="col-lg-5 col-md-11 col-sm-11  content">
        <h1>  هل انت طبيب؟  </h1>
        <p>نزل التطبيق الخاص بك الان واحصل عل طلبات اكثر</p>
        <div class="img1">
          <img class="img-fluid" src="./assets/img/app-icon-downloading.png" alt="app-icon-downloaiiid-19.png">
        </div>
        <div class="img2">
          <img class="img-fluid" src="./assets/img/logo 2w (1).png" alt="">
        </div>
      </div>
    </div>
  </div>
  