
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12  parent">
        <div class="col-lg-12 col-md-12 col-sm-12 firstchild">
  
        </div>
  
  
        <div class="row">
  
          <div class="col-lg-6 col-md-6 col-sm-6 ">
  
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 ">
            <div class="secondchild">
  
              
                <div class="content">
                    <h3>هل نسيت كلمة السر؟ </h3>
                    <p>يرجى ادخال الايميل الخاص بك وسنرسل لك كود لاعادة تعيين كلمة السر</p>
        
                    <form class="">
                     
                      <div class="form-group">
                        <input [(ngModel)]="user.email" ngModel #email="ngModel" name="email" type="email"
                          class="form-control" aria-describedby="emailHelp" placeholder="   الأيميل   " required>
                      </div>
                      <div *ngIf="email.touched && email.invalid && email.errors?.['required']" class="error alert alert-danger">
                        الايميل مطلوب
                      </div>
                      <button type="submit" (click)="forgetPassword()" class="btn btn-success w-100"
                        style="background-color: #0080FB !important;"> إرسال </button>
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  